
body, html { font-size: 100%; 	padding: 0; margin: 0;}
	
	
 .clearfix{*zoom:1;}
 .clearfix:after{
content:"\200B";
height:0;
}
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
   body{
		background: #494A5F;
		color: #D5D6E2;
		font-weight: 500;
		font-size: 1.05em;
		font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
	}
	     img.xi,img.xu{
	       flaot:right;
		}
		img.ai,img.ke{
			flaot:left;
		}

	/* Header */
	.htmleaf-header{
		padding: 1em 190px 1em;	
		text-align: center;
		background: #66677c;
	}
	p.moredescription{
		font-style:oblique;
		font-size: 200%
		color: #D5D6E2;
	}
	a.personal:link {
		color:#FF0000;
	}
	a.personal:visited{
		color:#00FF00;
	}
	a.personal:hover{
		color:#FF00FF;
		text-decoration: underline;
	}
	a.personal:active{
		color:#0000FF;
	}
	a.biaodan:link {
		color:#FF0000;
	}
	a.biaodan:visited{
		color:#00FF00;
	}
	a.biaodan:hover{
		color:#FF00FF;
		text-decoration: underline;
	}
	a.biaodan:active{
		color:#0000FF;
	}

	    nav ul {
				    list-style: none;
				    width: 800px;
				    margin: 0 auto;
				    padding: 0;
			}

		nav li {
				    float: left;
				    margin: 0;
				    padding: 0;
			}

		nav a {
		    color: #fff;
		    font-weight: bold;
		    line-height: 40px;
		    height: 40px;
		    text-decoration: none;
		    text-transform: uppercase;
		    display: inline-block;
		    padding: 0 12px;
		}

		tr {
		    display: table-row;
		    vertical-align: inherit;
		    border-color: inherit;
		}
		table {
		    border-collapse: collapse;
		    border: none;
		    padding: 0;
		    margin: 0;
		}
#billboard, #box-office {
    display: inline-block;zoom: 1;}
#billboard td{border-bottom:1px solid #eaeaea}
#billboard td{padding:7px 0}
#billboard .order{width:20px;font-size:9px;text-align:center}
#billboard .title{width:290px}
nav a:hover {
		    background: #f9f9f9;
		    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
		    background: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
		    background: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
		    background: -ms-linear-gradient(top, #f9f9f9, #e5e5e5);
		    background: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
		    background: linear-gradient(top, #f9f9f9, #e5e5e5);
		    color: #373737;
	}
nav {
		    position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 100;
		    width: 100%;
		    height: 40px;
		    color: #000;
		    background: #FFF;
		    background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#0a0a0a));
		    background: -webkit-linear-gradient(top, #000, #0a0a0a);
		    background: -moz-linear-gradient(top, #000, #0a0a0a);
		    background: -ms-linear-gradient(top, #000, #0a0a0a);
		    background: -o-linear-gradient(top, #000, #0a0a0a);
		    background: linear-gradient(top, #000, #0a0a0a);
		    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		    -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
		    
		}
	#top{
		position: absolute;
		left:60%;
		top:90%;
		z-index: 999;
	}